@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #ffffff, #c7d4ffb0, #6781df9c);
    font-family: 'Times New Roman', Times, serif;
}


h1{
    font-family: 'Graduate', serif;
    font-size: 2.5em;
    color: #022858;
    margin-left: 468pt;
}

.foto_inicio{
    display: flex;
    align-items: center;
    width: 730px;
    margin-left: 60px;
}
.foto_inicio img{
    width: 270px;
    height: 478px;
    border-radius: 12px;
    margin-bottom: 60px;
}
.foto_inicio p{
    padding: 20px;
    color: #022858;
    line-height: 30px;
    font-size: 20px;
}



.informacao1{
    flex-direction: column; 
    margin-left: 270px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 900px;
    background-color: #ffffff;
    margin-bottom: 8pt;
    box-shadow: 6px 6px 10px #495a94bd;
}
.informacao1 img{
    width: 440px;
    height: 250px;
    margin-bottom: 12px;
    border-radius: 10px;
}
.informacao1 p+p{
    margin-top: 3px;
}
.informacao1 p{
    text-indent: 27px;
    text-align: justify;
    font-size: 1.3em;
    color: #022858;
    width: 560pt;
    margin-left: 15pt;
    line-height: 30px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.logo img{
    padding: 40px;
    width: 47px;
    height: 46px;
}


.mang{
    text-align: justify;
    margin: auto;
}
.mang img{
    width: 110pt;
    height: 120pt;
    margin-left: 70pt;
    margin-bottom: 60px;
}
.mang h1{
    margin: auto;
    font-size: 1.7em;
}
.mang p{
    text-indent: 27px;
    width: 460pt;
    color: #022858;
    font-size: 20px;
    line-height: 30px;
}