@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body{
    background-image: linear-gradient(to bottom, #ffffff, #a1b7ffb0, #7e9cffd2);
    background-attachment: fixed;
    margin: auto;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}



h1{
    font-family: 'Graduate', serif;
    font-size: 2.5em;
    color: #022858;
    margin-left: 485pt;
}


.info_inicial{
    display: flex;
    align-items: center;
    width: 80%;
    color: #022858;
    margin-left: 60px;
    margin-bottom: 100px;
}
.info_inicial img{
    width: 290px;
    height: 390px;
    border-radius: 12px;
}
.info_inicial p{
    line-height: 30px;
    padding: 20px;
    font-size: 1.3em
}



.informacoes{
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 6px 6px 10px #495a94bd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 900px;
    margin: auto;
    margin-bottom: 11px;
}
.informacoes img:nth-child(3){ /*imagem de cima*/
    width: 370px;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.informacoes img:nth-child(7){ /*imagem do album*/
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
}
.informacoes img{ /*imagem do serviçi militar*/
    border-radius: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 332px;
}
.informacoes p{
    color: #022858;
    font-size: 1.3em;
    text-align: justify;
    text-indent: 27px;
    width: 560pt;
    margin-left: 15pt;
    line-height: 30px;
}
.informacoes p + p{
    margin-top: 3px;
}
.informacoes ul{
    text-align: justify;
    font-size: 1.2em;
    color: #022858;
    width: 526pt;
    margin-left: 15pt;
    line-height: 30px;
}





.logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos img{
    width: 47px;
    height: 46px;
    padding: 40px;
}



.mascote{
    text-align: justify;
    margin-left: 382px;
}
.mascote h1{
    font-size: 1.7em;
    margin: auto;
}
.mascote img{
    border-radius: 12px;
    width: 114pt;
    height: 120pt;
    margin-left: 70pt;
    margin-bottom: 60px;
}
.mascote p{
    color: #022858;
    font-size: 1.3em;
    line-height: 30px;
    text-indent: 30px; /*espaçamento na 1ª linha*/
    width: 460pt;
}


