@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body{
    background-image: linear-gradient(to bottom, #ffffff, #c7d4ffb0, #6781df9c);
    background-attachment: fixed;
    margin: auto;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}


h1{
    font-family: 'Graduate', serif;
    font-size: 2.4em;
    color: #022858;
    margin-left: 533.5px;
}



.inicio{
    display: flex;
    align-items: center;
    width: 80%;
    color: #022858;
    margin-left: 60px;
    margin-bottom: 60px;   
}
.inicio img{
    border-radius: 12px;
    width: 277px;
    height: 460px;
    margin-bottom: 70px;
}
.inicio p{
    line-height: 30px;
    padding: 20px;
    font-size: 1.3em;
}


.logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos img{
    width: 47px;
    height: 46px;
    padding: 40px;
}



.mascote{
    text-align: justify;
    margin-left: 402px;
}
.mascote h1{
    font-size: 1.7em;
    margin: auto;
}
.mascote img{
    width: 166px;
    height: 158px;
    margin-left: 70pt;
    margin-bottom: 60px;
}
.mascote p{
    text-indent: 30px;
    font-size: 1.3em;
    color: #022858;
    text-align: justify;
    width: 647px;
    line-height: 30px;
}



.rm{
    display: flex;
    align-items: center;
    display: flex;
    box-shadow: 6px 6px 10px #495a94bd;;
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    margin-bottom: 11px;
    margin: auto;
    width: 900px;
}
.rm img:nth-child(3){

}
.rm p{
    color: #022858;
    font-size: 1.3em;
    text-align: justify;
    text-indent: 27px;
    width: 560pt;
    margin-left: 8px;
    line-height: 30px;
}