@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body{
    background-image: linear-gradient(to bottom, #ffffff, #c7d4ffb0, #6781df9c);
    background-attachment: fixed;
    margin: auto;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}



h1{
    font-family: 'Graduate', serif;
    font-size: 2.3em;
    color: #022858;
    margin-left: 400pt;
}



.informacao{
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 6px 6px 10px #495a94bd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin-bottom: 11px;
    margin-left: 230px;
}
.informacao img{
    border-radius: 10px;
    width: 300px;
    height: 450px;
}
.informacao p{
    color: #022858;
    font-size: 1.3em;
    text-align: justify;
    text-indent: 27px;
    width: 560pt;
    margin-left: 15pt;
    line-height: 30px;
}
.informacap + p{
    margin-top: 3px;
}




.inicio{
    display: flex;
    width: 80%;
    margin-left: 60px;
    margin-bottom: 60px;
    align-items: center;
    color: #022858;
}
.inicio img{
    width: 270px;
    height: 440px;
    border-radius: 12px;
}
.inicio p{
    font-size: 1.3em;
    line-height: 30px;
    padding: 20px;
}




.logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos img{
    width: 47px;
    height: 46px;
    padding: 40px;
}


.mascote{
    color: #022858;
    text-align: justify;
    margin-left: 382px;
}
.mascote h1{
    font-size: 1.7em;
    margin: auto;
}
.mascote img{
    width: 102pt;
    height: 110pt;
    margin-left: 70pt;
    border-radius: 10px;
    margin-bottom: 60px;
}
.mascote p{
    font-size: 1.3em;
    line-height: 30px;
    text-indent: 30px; /*espaçamento na 1ª linha*/
    width: 460pt;
}
